<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyForm:Contact</title>
    {{>header}}
</head>
<body>
    {{>navbar}}

    <div class="container">
        <h1>Welcome to my MERN App - CONTACT US PAGE</h1>
    </div>

    {{>footerScript}}
</body>
</html>