<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyForm:About</title>
    {{>header}}
</head>
<body>
    {{>navbar}}

    <div class="container">
        <h1>This My SECRET PAGE</h1>
    </div>

    {{>footerScript}}
</body>
</html>

